<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_youwin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{554,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{554,199}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
            <key>anim_youwin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{554,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{554,199}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
            <key>anim_youwin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{554,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{554,199}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
            <key>anim_youwin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{554,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{554,199}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
            <key>anim_youwin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{554,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{554,199}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
            <key>anim_youwin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{554,199}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_youwin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ec01308fc2ecb34059ea26d2befd15:1/1$</string>
            <key>textureFileName</key>
            <string>anim_youwin.png</string>
        </dict>
    </dict>
</plist>
