<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,90},{118,84}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{118,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{128,68}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{128,68}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{114,86}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{114,72}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{114,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{114,72}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{114,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,68}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{128,68}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{128,68}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{128,68}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,176},{116,72}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{116,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,86}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{118,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,250},{114,72}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{114,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,378},{64,68}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{64,68}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{116,72}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{116,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>beer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{114,86}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beer.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9862743fea9148319a6da88859b05df:1/1$</string>
            <key>textureFileName</key>
            <string>beer.png</string>
        </dict>
    </dict>
</plist>
