<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cake_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{104,116}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{104,116}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
            <key>cake_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{100,114}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,41},{100,114}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
            <key>cake_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{102,96}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,57},{102,96}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
            <key>cake_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,212},{102,78}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,73},{102,78}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
            <key>cake_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,292},{92,86}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,68},{92,86}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
            <key>cake_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,116}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{104,116}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
            <key>cake_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,108},{106,102}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,68},{106,102}}</string>
                <key>sourceSize</key>
                <string>{162,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cake.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e00be40448510def4e6dddd9a6361613:1/1$</string>
            <key>textureFileName</key>
            <string>cake.png</string>
        </dict>
    </dict>
</plist>
