<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,88}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{84,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{84,80}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{84,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{84,80}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{84,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{84,80}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{112,52}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{112,52}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{112,52}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{112,52}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{112,52}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{84,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{84,80}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,56},{102,86}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{102,86}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>mouth_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{84,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{84,80}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mouth.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad3a5de320dec1ac7112f9d8f974909f:1/1$</string>
            <key>textureFileName</key>
            <string>mouth.png</string>
        </dict>
    </dict>
</plist>
