<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panda_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,82}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{113,82}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{85,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{85,86}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,170},{91,88}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{91,88}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{85,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{85,86}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{89,84}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{89,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{97,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{97,80}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,260},{97,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{97,78}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,340},{101,72}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{101,72}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,424},{107,68}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{107,68}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{101,84}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{101,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,86},{109,82}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{109,82}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{111,82}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{111,82}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{111,82}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{111,82}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,82}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{113,82}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,82}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{113,82}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,86},{109,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{109,82}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{101,84}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{101,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,424},{107,68}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{107,68}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,340},{101,72}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{101,72}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,260},{97,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{97,78}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{97,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{97,80}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
            <key>panda_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{89,84}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{89,84}}</string>
                <key>sourceSize</key>
                <string>{119,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panda.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecaa54de93a70bbfda5e1b6c5db33588:1/1$</string>
            <key>textureFileName</key>
            <string>panda.png</string>
        </dict>
    </dict>
</plist>
