<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoji11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>emoji11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji11.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b904aa3a7fb55698a5ef972e6acd003:1/1$</string>
            <key>textureFileName</key>
            <string>emoji11.png</string>
        </dict>
    </dict>
</plist>
